server:
  port: 8082
  servlet:
    context-path: /api

spring:
  application:
    name: users-service
  datasource:
    url: jdbc:mysql://localhost:3308/usersdb?useUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_unicode_ci&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: users_user
    password: users_pass
    hikari:
      connection-init-sql: SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:7080/auth/realms/portfolio/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    com.portfolio.users: DEBUG

security:
  oauth2:
    expected-issuer: http://localhost:7080/auth/realms/portfolio
